<ion-view view-title="DigitalDocent" cache-view="true">
    <ion-content >
        <div>
          <button   class="button button-stable"
                    ng-click="go.locator()">
                Locator
            </button>
            <br>
            <button   class="button button-stable"
                      ng-click="go.ar()">
                  AR
              </button>
              <br>
              <button   class="button button-stable"
                        ng-click="go.selfie()">
                    Selfie
                </button>
                <br>
                <button   class="button button-stable"
                          ng-click="go.video()">
                      Location Video
                  </button>

        </div>
    </ion-content>
    <ion-footer-bar  class="bar-light" >
      Footer
    </ion-footer-bar>


</ion-view>
