<ion-view view-title="Locator" cache-view="true">
    <ion-content >
      <input type="text"  ng-model="txt1"> <br>
      <input type="text"  ng-model="txt2"><br>

      <br>
      sum {{sum}}
      {{data}}
       <button ng-click="AddNumbers()">hello</button>
        <button ng-click="save()">Save</button>
         <button ng-click="retrieve()">get</button>
            <button ng-click="clear()">clear</button>


    </ion-content>
    <ion-footer-bar  class="bar-light" >
      Footer
    </ion-footer-bar>


</ion-view>
