<ion-view view-title="DigitalDocent"  class="compass-outer">

    <ion-content class="centre compass-content">
      <div class="compass-outer">
	    	<div class="compass-content">
	    		<div class="compass-heading">
	    			<img class="forward-arrow" src="images/p20695.png">
	    		</div>
	    	</div>
	    	<!-- Top right corner -->
	    	<!--<div class="top-right-corner">
    			<img id="compass-star" class="compass-star" src="img/compassStar.png">
    		</div>-->
            <div class="snap">
    			<img id="snapbtn" src="images/camera_btn.png">
    		</div>

    	</div>



    </ion-content>

</ion-view>
